/* regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: Arial, Helvetica, sans-serif;    

}

/* regole header */
.logo {
    padding: 10px;


}
h1 {
    display: inline-block;

}

/* regole main */
main {
    padding: 35px 20%;
}

.Buttons {
    margin:  30px auto;
}

.blueback {
    background-color: cornflowerblue;
}

.buttonlayout  {
    border-radius: 4px;
    border: 0px;
    height: 25px;
    width: 80px;
   
}

.whitetext {
    color: white;
}

.greytext {
    color: rgb(211, 210, 210);
}


.buttonlayoutsection {
    border-radius: 4px;
    height: 25px;
    width: 80px;
    border-color: rgb(211, 210, 210);
}

h2{
    font-size: 18px;
    margin: 10px auto;
}

section {
    line-height: 2;
}

span {
    border-radius: 10px;
    font-size: 10px;
    padding: 6px;
    color: white;
}

.violetback {
    background-color: blueviolet;
}

.greenback {
    background-color: mediumseagreen;
}

.orangeback {
    background-color: orange;
}

.pinkback {
    background-color: pink;
}

.lgreenback {
    background-color: greenyellow;
}